/* Custom Fonts */
/* @font-face{
  font-family: Centra;
  src: url
} */

body {
  /* background-color: coral !important; */
  /* background-color: #DDE6ED !important;
  background-image: url("https://transparenttextures.com/patterns/asfalt-dark.png") !important; */
  background-color: #f1f6f9 !important;
background-image: url("https://transparenttextures.com/patterns/absurdity.png") !important;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* background-color: #27374D !important;
  background-image: url("https://transparenttextures.com/patterns/cubes.png") !important; */
}

.test{
  height: 40px !important;
  margin: 10px !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
